.rotateTranslateOrigin(@degrees, @x, @y, @ox, @oy, @oz) {
  -webkit-transform: rotate(@degrees) translate(@x, @y);
     -moz-transform: rotate(@degrees) translate(@x, @y);
      -ms-transform: rotate(@degrees) translate(@x, @y);
       -o-transform: rotate(@degrees) translate(@x, @y);
          transform: rotate(@degrees) translate(@x, @y);
  -webkit-transform-origin: @ox @oy;
     -moz-transform-origin: @ox @oy;
      -ms-transform-origin: @ox @oy;
       -o-transform-origin: @ox @oy;
          transform-origin: @ox @oy;
}

div.crm-browser {
	height: 500px;

	section {
		float: left;
		height: 100%;

		&.list {
			width: 200px;
			position: relative;

			.toolbar {
				width: 100%;
				position: absolute;
				bottom: 0;
				
				button {
					width: 100%;
				}
			}
		}
		&.detail {
			
		}
	}
}