<form name="recordForm">
	<table>
		<tbody>
		{{model.title}}
			<tr ng-repeat="(key, val) in model.properties">
				<th>{{val.title}}</th>
				<td><input type="text" placeholder="{{val.title}}" ng-model="record[key]" ng-disabled="val.type != 'string'" ng-class="{id: key =='_id'}"/></td>
			</tr>
			<tr>
				<td></td>
				<td>
					<button class="btn" ng-click="save()" ng-disabled="recordForm.$pristine" ng-class="{'btn-warning': recordForm.$dirty, 'btn-success': recordForm.$pristine}">Save</button>
					<button class="btn btn-danger" ng-click="del()" ng-disabled="!getIdFromRecord(record)">Delete</button>
				</td>
			</tr>
		</tbody>
	</table>
</form>