<form name="recordForm">
	<table>
		<tbody>
			<tr ng-repeat="field in model.fields">
				<th>{{field.label}}</th>
				<td><input type="text" placeholder="{{field.label}}" ng-model="record[field.name]" ng-disabled="isIDField(field)" ng-class="{id: isIDField(field)}"/></td>
			</tr>
			<tr>
				<td></td>
				<td>
					<button class="btn" ng-click="save()" ng-disabled="recordForm.$pristine" ng-class="{'btn-warning': recordForm.$dirty, 'btn-success': recordForm.$pristine}">Save</button>
					<button class="btn btn-danger" ng-click="del()" ng-disabled="!getIdFromRecord(record)">Delete</button>
				</td>
			</tr>
		</tbody>
	</table>
</form>